.room {
  height: 100vh;
  background: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emoji-bulb {
  font-size: 400px;
  transition: all 0.3s ease;
}

.slider {
  width: 300px;
}
